# poetry.lock
# data

notes.md
TODO.md

data_local/
notebooks/
# config.toml

.env.toml
.env
sketch.py

log
_deprecated/
_deprecated.py
# index*

tmp/

lib
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
.env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
tmp
.git
.mypy_cache
.pytest_cache
.hypothesis


